
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Client.cshtml";
}

<style>
    #img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
    }

        #img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
</style>

<div style="margin-bottom:30px">
    <a style="font-size:20px" href="/Home/Index">Trang chủ /</a>
    <b style="font-size:20px">
        @foreach (var item in @ViewBag.ctsp)
        {
            @item.Name
        }
    </b>
    <hr />
</div>

<!--<div class="col-md-5 single-top">
    <div class="flexslider">
        <ul class="slides">-->
            @*@foreach (var item in @ViewBag.img)
            {
                <li data-thumb="@Url.Content(item.Image)">
                    <img src="@Url.Content(item.Image)" />
                </li>
            }*@
        <!--</ul>
    </div>-->
    <!-- FlexSlider -->
    <!--<script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.flexslider.js"></script>
    <link rel="stylesheet" href="~/Content/flexslider.css" type="text/css" media="screen" />

    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
</div>-->

<div class="row">
    <div class="col-7">
        <div class="container">
            <div style="margin-top:5px">
                @foreach (var item in @ViewBag.ctsp)
                {
                    <i style="font-size:35px">Laptop @item.Name</i>
                }
            </div>
            <div style="text-align:center; margin:5px" >

                @foreach (var item in @ViewBag.ctsp)
                {
                    <a data-fancybox="Gallery" href="@item.Image" >
                        <img src="@item.Image" style="width:95%;height:95%" alt="Lỗi ảnh" id="img"/>
                    </a>
                }
            </div>
            <div class="row" style="text-align:center; margin:5px" >

                @foreach (var item in @ViewBag.img)
                {
                    <div class="col-3" >
                        <a data-fancybox="Gallery" href="@item.Image">
                            <img src="@item.Image" style="width:100%;height:100%" alt="Lỗi ảnh" id="img"/>
                        </a>
                    </div>
                }

            </div>
        </div>



    </div>
    <div class="col-5" style="">
        <br />
        <br />
        <br />
        <div style="margin-left:5px">
            @foreach (var item in @ViewBag.ctsp)
            {
                <r style="color:red;font-size:30px; font-weight:bolder">
                    $ @string.Format("{0:#,##0}", @item.Promotion_Price)đ
                    @foreach (var i in ViewBag.ID_pro)
                    {
                        if(Session["user"]==null)
                        {
                            <a onclick="alert('Bạn cần đăng nhập để thêm vào yêu thích!')"  href=""  style="border:10px solid orange; background-color:orange;font-weight:bold; font-size:20px;
                                margin-right: 10px;border-radius:20px; color:red">+ <i class="fa fa-heart"> Thêm vào ưa thích</i> </a>
                        }
                        else
                        {
                            <a onclick="alert('Bạn đã thêm sản phẩm vào danh sách yêu thích!')" href="/_clientFavoriteList/Add?key=@i.ID_Product_Color"  style="border:10px solid orange; background-color:orange;font-weight:bold; font-size:20px;
                                margin-right: 10px;border-radius:20px; color:red">+ <i class="fa fa-heart"> Thêm vào ưa thích</i> </a>
                        }
                    }
                </r><br />
                <r style="font-size:20px;font-weight:bold">$Giá gốc: </r><i style="font-size:20px;text-decoration:line-through;">@string.Format("{0:#,##0}", @item.Price)đ</i><br />
                <i style="font-size:16px"> @item.Description</i><br />
                <i style="font-size:16px"> Bảo hành @item.Warranty!</i><br /><br /><br />
                <r style="font-size:20px"> CPU: <r style="font-size:15px; border:2px solid orange"> @item.CPU</r></r><br /><br />
                <r style="font-size:20px"> RAM: <r style="font-size:15px; border:2px solid orange"> @item.RAM</r></r><br /><br />
                <r style="font-size:20px"> GPU: <r style="font-size:15px; border:2px solid orange"> @item.GPU</r></r><br /><br />
                <r style="font-size:20px"> Ổ cứng: <r style="font-size:15px; border:2px solid orange"> @item.ROM</r></r><br /><br />
                <r style="font-size:20px"> Màn hình: <r style="font-size:15px; border:2px solid orange"> @item.Monitor</r></r><br /><br />
                <r style="font-size:20px"> Pin: <r style="font-size:15px; border:2px solid orange"> @item.Pin</r></r><br /><br />
                <r style="font-size:20px"> Kích thước: <r style="font-size:15px; border:2px solid orange"> @item.Size</r></r><br /><br />
                <r style="font-size:20px"> Cân nặng: <r style="font-size:15px; border:2px solid orange"> @item.Weight</r></r><br /><br />

                @*<r style="font-size:16px">
                        <br />
                        Xem chi tiết khái niệm hàng Refurbished <br />
                        ✅Bảo hành 12 tháng LaptopTheKy            <br />
                        ✅Giá ở trên chưa bao gồm 10% VAT       <br />
                        ✅ MIỄN PHÍ GIAO HÀNG TẬN NHÀ           <br />
                        - Với đơn hàng < 4.000.000 đồng: Miễn phí giao hàng cho đơn hàng < 5km tính từ cửa hàng LaptopTheKy <br />
                        - Với đơn hàng > 4.000.000 đồng: Miễn phí giao hàng (khách hàng chịu phí bảo hiểm hàng hóa nếu có) <br />
                    </r><br /><br />*@
            }
        </div>
        @if (ViewBag.count == 0)
        {
            <div class="row" style="text-align:center;background-color:#dedede; margin:20px">
                <div class="col" style="margin-top: 5px; font-size: 40px; color: red; font-weight: bolder">Cháy hàng!</div><br /><br />
            </div>
        }
        else
        {
            <div class="row" style="text-align:center;background-color:#dedede; margin:20px">
                <div class="container">
                    <div class="row" style="font-size:25px;text-align:center;margin-top:5px;color:red;font-weight:bolder">
                        <div class="col">
                            Màu sắc
                        </div>
                    </div>
                    <div class="row" style="text-align:center; margin-top:5px;margin-bottom:10px; font-weight:bolder">
                        @foreach (var i in ViewBag.color)
                        {
                        <div class="col">
                            <a style="font-size:20px">@i.Color (@*@i.Quantity*@Còn)</a>
                            @if (Session["user"] == null)
                            {
                                <a href="" onclick="alert('Bạn cần đăng nhập để thêm vào giỏ hàng!')" style="font-size:20px;border:3px solid orange; background-color:orange;font-weight:bold;
                                    border-radius:20px; color:red">+ <i class="fa fa-shopping-cart"></i></a>
                            }
                            else
                            {
                                <a onclick="alert('Bạn đã thêm sản phẩm vào giỏ hàng!')" href="/_clientCart/Add_To_Card?key=@i.ID_Product_Color" style="font-size:20px;border:3px solid orange; background-color:orange;font-weight:bold;
                                    border-radius:20px; color:red">+ <i class="fa fa-shopping-cart"></i></a>

                            } 
                        </div>
                        }
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" style="font-size:25px;text-align:center;margin-top:5px;color:red;font-weight:bolder">
                    <div class="col">

                        @*@foreach (var item in ViewBag.ID_pro)
                            {
                                <div class="col">
                                    <a href="/_clientCart/Add_To_Card?key=@item.ID_Product_Color" style="border:10px solid orange; background-color:orange;font-weight:bold;
                                    border-radius:20px; color:red">+ <i class="fa fa-shopping-cart"></i></a>
                               </div>
                            }*@
                        @foreach (var i in ViewBag.ctsp)
                        {
                            <a href="/_clientBill/Buy?key=@i.ID" style="border:10px solid orange; background-color:orange;font-weight:bold;
                        margin-left: 10px;border-radius:20px; color:white">Mua ngay</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="container">
        <div class="card card-primary">
            <div>
                @{
                    double rate = 0;
                    double ps = Convert.ToDouble(ViewBag.com_count);
                    
                    double rate1 = 0;
                }
                @foreach (var item in ViewBag.comment)
                {
                    int res = Convert.ToInt32(item.rate);
                    rate = rate + res;
                }
                @{ rate1 = rate / ps; }
                <p style="font-size:35px">Đánh giá sản phẩm:</p>
                <div class="card card-primary" style=" background-color:#b3f1f1">
                    <div class="row">
                        @if (ps == 0)
                        {
                            <div class="col-2" style="font-size:27px;margin-top:35px; text-align:center">
                                Chưa có <br /><br /> đánh giá
                            </div>
                        }
                        else
                        {
                            <div class="col-2" style="font-size:27px;margin-top:35px; text-align:center">
                                @Math.Round(rate1, 2) trên 5<br /><br />
                                ⭐⭐⭐⭐⭐
                            </div>
                        }
                        <div class="col">
                            <div class="row">
                                <div class="col" style="font-size:20px;margin-top:10px; text-align:center">
                                    Tất cả<br /><br />(@ps đánh giá)
                                </div>
                                <div class="col" style="font-size:20px;margin-top:10px; text-align:center">
                                    ⭐⭐⭐⭐⭐<br /><br />(@ViewBag.count5s đánh giá)
                                </div>
                                <div class="col" style="font-size:20px;margin-top:10px; text-align:center">
                                    ⭐⭐⭐⭐<br /><br />(@ViewBag.count4s đánh giá)
                                </div>

                            </div>
                            <div class="row" style="margin-top:15px">
                                <div class="col" style="font-size:20px;margin-top:10px; text-align:center">
                                    ⭐⭐⭐<br /><br />(@ViewBag.count3s đánh giá)
                                </div>
                                <div class="col" style="font-size:20px;margin-top:10px; text-align:center">
                                    ⭐⭐<br /><br />(@ViewBag.count2s đánh giá)
                                </div>
                                <div class="col" style="font-size:20px;margin-top:10px; text-align:center">
                                    ⭐<br /><br />(@ViewBag.count1s đánh giá)
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br />
            </div>
            <div style="font-size:20px;margin-top:10px">

                <table id="example" class="table table-bordered table-hover">

                    <tbody>
                        @foreach (var item in ViewBag.comment)
                        {
                            <tr class="odd gradeX" @*align="center"*@>
                                @if (item.comment != null)
                                {
                                    <td>

                                        <div class="row" style="margin-left:15px">
                                            @item.Cus_Name
                                            @if (item.rate == "1")
                                            {
                                                <p style="margin-left:10px"> ⭐ </p>
                                            }@if (item.rate == "2")
                                            {
                                                <p style="margin-left:10px"> ⭐⭐ </p>
                                            }@if (item.rate == "3")
                                            {
                                                <p style="margin-left:10px"> ⭐⭐⭐</p>
                                            }@if (item.rate == "4")
                                            {
                                                <r style="margin-left:10px"> ⭐⭐⭐⭐ </r><br />
                                            }@if (item.rate == "5")
                                            {
                                                <p style="margin-left:10px"> ⭐⭐⭐⭐⭐ </p>
                                            }

                                        </div>
                                        <div class="col">

                                            <br />
                                            @item.comment<br /><br />
                                            Phân loại: @item.Pro_Color<br />
                                            @item.ratetime
                                        </div>


                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
