
@{
    ViewBag.Title = "Bill_cus";
    Layout = "~/Views/Shared/_Client.cshtml";
}

<div class="container">
    @if (Session["user"] == null)
    {
        <div class="row" style="text-align:center">
            <div class="col" style="text-align:center"><b style="font-size:35px;color:red">Bạn cần đăng nhập để tra cứu lịch sử mua hàng!</b></div><br /><br />
        </div>
        <div class="row" style="text-align:center;margin-top:20px">
            <div class="col" style="text-align:center;font-size:25px">
                <a href="/_clientLogin/Index">===>Đăng nhập ngay<===</a>
            </div>
        </div>
    }
    else
    {
        <div class="card-header" style="margin-bottom:40px">
            <h3 class="card-title" style="text-align:center;font-size:35px;color:red; width:100%">Đơn mua</h3>
        </div>
        if (((IEnumerable<dynamic>)ViewBag.name).Count() == 0)
        {
            <div class="row" style="text-align:center">
                <div class="col" style="text-align:center"><b style="font-size:35px;color:red">Chưa có sản phẩm nào được đặt</b></div><br /><br />
            </div>
        }
        else
        {
            <table id="example2" class="table table-borderless table-hover" style="font-size:18px">
                <thead>
                    <tr align="center">
                        <th>ID</th>
                        <th>Tên khách hàng</th>
                        <th>Ngày đặt hàng</th>
                        <th>Địa chỉ nhận hàng</th>
                        <th>Tình trạng</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <input type="text" value="@ViewBag.name.length" />
                    @foreach (var item in Model)
                    {
                        <tr class="odd gradeX" align="center">
                            <td>@item.ID</td>
                            <td>
                                @foreach (var i in ViewBag.name)
                                {
                                    @i.Cus_Name
                                }
                            </td>
                            <td>@item.Date_order</td>
                            <td>@item.Address</td>
                            <td>
                                @if (@item.Confirm == "Đã giao hàng")
                                {

                                    <button onclick="var result = confirm('Bạn chắc chắn đã nhận được hàng?');
                                        if (result == true) {
                                            window.location.href = '/_clientBill/Confirm?id=@item.ID&confirm=Đã nhận được hàng';}"
                                            style="border: 0;background-color:white; color:blue">
                                        Đã nhận được hàng
                                    </button>
                                }
                                else
                                {
                                    @item.Confirm
                                }

                            </td>
                            <td>
                                @if (@item.Confirm == "Đã nhận được hàng")
                                {
                                    <a href="/_clientBill/rate/?id=@item.ID">Đánh giá</a>
                                }
                                else
                                {
                                    @Html.ActionLink("Chi tiết", "Bill_Detail", new { id = item.ID })<br />
                                    if (@item.Confirm == "Chờ xác nhận")
                                    {
                                        <button onclick="var result = confirm('Bạn chắc chắn muốn hủy đơn hàng?');
                                        if (result == true) {
                                            window.location.href = '/_clientBill/Confirm?id=@item.ID&confirm=Đơn hàng đã hủy';}"
                                                style="border: 0;background-color:white; color:blue">
                                            Hủy đơn
                                        </button>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr align="center">
                        <th>ID</th>
                        <th>ID khách hàng</th>
                        <th>Ngày đặt hàng</th>
                        <th>Địa chỉ nhận hàng</th>
                        <th>Tình trạng</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        }
    }
</div>
<script>
    function checkcf() {
        var result = confirm("Bạn chắc chắn đã nhận được hàng?");
        if (result == true) {
            window.location.href = "/home/index";
         }
    }

</script>
