
@{
    Layout = null;
}
<div class="card-body table-responsive p-0" id="Danh_Sach" style="margin-top:-0px">
    <table class="table table-striped table-valign-middle">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Giá sản phẩm hiện tại</th>
                <th>Số lượng bán</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @ViewBag.spbc)
            {
                <tr>
                    @foreach (var i in @ViewBag.pro)
                    {
                        if (i.ID == item.ID)
                        {
                            <td>
                                @i.Name
                            </td>
                            <td>
                                @string.Format("{0:#,##0}", @i.Promotion_Price)đ
                            </td>
                        }
                    }
                    <td>
                        @item.Quantity
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>