@{
    ViewBag.Title = "notification";
    Layout = "~/Views/Shared/_Client.cshtml";
}

<div style="margin-bottom:50px; text-align:center">
    @{ if (Session["doimk"] == null)
        {
            <r style="font-size: 30px; font-weight: bolder; color: red">
                Mật khẩu của bạn không đúng!
                @foreach (var item in Model)
                {
                    <r style=" font-size: 25px;color: darkturquoise">@item.Email</r><br />
                }
            </r>
        }
        else
        {
            <r style="font-size: 30px; font-weight: bolder; color: red">
                Đổi mật khẩu thành công<br />
                @foreach (var item in Model)
                {
                    <r style=" font-size: 25px;color: darkturquoise">@item.Email</r><br />
                }
            </r>
        }
    }
</div>
<hr />
<div style="margin-bottom:20px; text-align:center">
    <r style="font-size: 25px; font-weight: bolder; color: black">
        Thông news tài khoản!
    </r>
</div>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-6" style="">
            <div class="row">
                <div class="col-5">

                </div>
                <div class="col">
                    <a style="font-size:20px;font-weight:bold">Họ và tên: </a> <r style="font-size:17px;">@item.Name</r>
                </div>
            </div><br /><br />
            <div class="row">
                <div class="col-5">

                </div>
                <div class="col">
                    <a style="font-size:20px;font-weight:bold">Giới tính: </a> <r style="font-size:17px;">@item.Gender</r>
                </div>
            </div><br /><br />
            <div class="row">
                <div class="col-5">

                </div>
                <div class="col">
                    <a style="font-size:20px;font-weight:bold">Địa chỉ: </a> <r style="font-size:17px;">@item.Address</r>
                </div>
            </div>
        </div>
        <div class="col-6" style="">
            <div class="row">
                <div class="col-2">

                </div>
                <div class="col">
                    <a style="font-size:20px;font-weight:bold">Số điện thoại:</a>
                    <r style="font-size:17px;">@item.Phone_Number</r>
                </div>
            </div><br /><br />
            <div class="row">
                <div class="col-2">

                </div>
                <div class="col">
                    <a style="font-size:20px;font-weight:bold">Email: </a> <r style="font-size:17px;">@item.Email</r>
                </div>
            </div><br /><br />
            <div class="row" style="font-size:20px">
                <div class="col-2">

                </div>
                <div class="col">
                    <a href="/_clientCustomer/AccountEdit">==>Chỉnh sửa thông news<==</a>
                </div>
            </div>
        </div>
    </div>
}